form {
    padding: 10px;
}
.numbers {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
}

#formsubmit{
    background-color: #4CAF50 !important;
}
.submission {
    grid-area: submission;
    width: 100%;
    /*background-color: #4CAF50 !important;*/
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type="submit" i]:hover {
    background-color: #45a049 !important;
}
