@model List<Bookish.DataAccess.BookInfo>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Book List</h1>
    <table>
        <tr>
            <th>ISBN</th>
            <th>Book Name</th>
            <th>Author</th>
            <th>BarCode</th>
            <th>BookInfo</th>
        </tr>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.ISBN</td>
                <td>@book.BookName</td>
                <td>@book.Author</td>
                <td>@book.BarCode</td>
                <td><form asp-action="BookInfo"method="get">
                    <input name ="ISBN" type="submit" alt="Book info" value=@book.ISBN>
                    </form></td>
            </tr>
         }
    </table>
</div>