@model List<Bookish.DataAccess.BookInfo>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Hello I am Working</p>
    <table>
        <tr>
            <th>ISBN</th>
            <th>Book Name</th>
            <th>Author</th>
            <th>BarCode</th>
        </tr>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.ISBN</td>
                <td>@book.BookName</td>
                <td>@book.Author</td>
                <td>@book.BarCode</td>
                <td><button>here</button></td>
</tr>
                //queery to count number of current available copies
         }
    </table>
</div>